*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#example{
    float: right;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

form#triparallel, form#area_tri_parallel, form#firstTrapeziumForm, form#area_trapezium{
    display: none;
}

h1{
    font-size: 3em;
    text-align: center;
}

svg{
    margin-left: 50px;
    fill: red;
    stroke-width: 1px;
    stroke:black;
}